@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Ubuntu-normal";
    font-style: normal;
    src: url("./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Ubuntu-medium";
    font-style: medium;
    src: url("./assets/fonts/Ubuntu-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "Ubuntu-bold";
    font-style: bold;
    src: url("./assets/fonts/Ubuntu-Bold.ttf") format("truetype");
  }
}
